<!DOCTYPE html>
<!DOCTYPE html>  
<html xmlns:th="http://www.thymeleaf.org">  
<head>  
<title>Edit Vaccine Center</title>  
<link rel="stylesheet"  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.
css">  </head>  
<body>  
<div class="container">  
<h1 class="mt-4">Edit Vaccine Center</h1>  
<form th:action="@{/vaccine-centers/{id}/edit(id=${vaccineCenter.id})}" method="POST">  
<div class="form-group">  
<label for="center">Center:</label>  
<input type="text" class="form-control" id="center" th:field="${vaccineCenter.center}"  required>  
</div>  
<div class="form-group">  
<label for="city">City:</label>  
<input type="text" class="form-control" id="city" th:field="${vaccineCenter.city}" required>  
</div>  
<!-- Add other fields as needed -->  
<button type="submit" class="btn btn-primary">Update Vaccine 
Center</button>  
</form>  
</div>  
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>  
<script  
src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js
"></script>  
</body>  
</html>  
